{{!-- Header Section --}}
<section class="header container-fluid bg-[#f9f9f9] border-b border-lightGray">
    <div class="container px-8 py-2">
        <div class="navbar flex items-center justify-between md:grid md:grid-cols-12 py-1">
            <div class="col-span-2">
                <a href="{{@site.url}}">
                    <img class="header_logo max-h-10" src="{{@site.logo}}" alt="{{@site.title}}">
                </a>
            </div>
            <div class="nav-wrap md:col-span-10 hidden md:grid md:grid-cols-10">
                <ul class="main-nav md:flex items-center justify-center gap-4 md:gap-6 col-span-8">
                    {{navigation type="primary"}}
                </ul>
                <ul class="right_nav flex justify-end items-center col-span-2">
                    <li class="pr-4">
                        <button class="gh-search-icon flex items-center" aria-label="search" data-ghost-search>
                            <svg width="16" height="16" fill="none" viewBox="0 0 24 24">
                                <path d="M14.949 14.949a1 1 0 0 1 1.414 0l6.344 6.344a1 1 0 0 1-1.414 1.414l-6.344-6.344a1 1 0 0 1 0-1.414Z" fill="currentColor"/><path d="M10 3a7 7 0 1 0 0 14 7 7 0 0 0 0-14Zm-9 7a9 9 0 1 1 18 0 9 9 0 0 1-18 0Z" fill="currentColor"/>
                            </svg>
                        </button>
                    </li>
                    <li><a class="uppercase text-primary" href="#/portal/signin">{{t "Sign in"}}</a></li>
                </ul>
            </div>

            <div id="hamburger" class="md:hidden col-span-2">
                <button id="hamburger" class="space-y-2 p-1">
                    <div class="w-8 h-0.5 bg-gray rounded"></div>
                    <div class="w-8 h-0.5 bg-gray rounded"></div>
                    <div class="w-8 h-0.5 bg-gray rounded"></div>
                </button>
            </div>

        </div>
    </div>
</section>