{{!-- Header Section --}}
<section class="header container-fluid bg-[#f9f9f9]">
    <div class="container px-8 py-2">
        <div class="navbar flex items-center justify-between">
            <a href="{{@site.url}}">
                <img class="header_logo max-h-12" src="{{@site.logo}}" alt="{{@site.title}}">
            </a>
            <ul class="main_nav hidden sm:flex gap-4 md:gap-6">
                {{navigation type="primary"}}
            </ul>
            <ul class="right_nav flex items-center">
                <li class="pr-4">
                    <button class="gh-search-icon flex items-center" aria-label="search" data-ghost-search>
                        <svg width="16" height="16" fill="none" viewBox="0 0 24 24">
                            <path d="M14.949 14.949a1 1 0 0 1 1.414 0l6.344 6.344a1 1 0 0 1-1.414 1.414l-6.344-6.344a1 1 0 0 1 0-1.414Z" fill="currentColor"/><path d="M10 3a7 7 0 1 0 0 14 7 7 0 0 0 0-14Zm-9 7a9 9 0 1 1 18 0 9 9 0 0 1-18 0Z" fill="currentColor"/>
                        </svg>
                    </button>
                </li>
                <li><a class="uppercase text-primary" href="#/portal/signin">{{t "Sign in"}}</a></li>
            </ul>
        </div>
    </div>
</section>