{{#if isSecondary}}
{{#foreach navigation}}
<li class="py-2"><a href="{{url}}">{{label}}</a></li>
{{/foreach}}
{{else}}
{{#foreach navigation}}
<li class="py-2"><a href="{{url}}">{{label}}</a></li>
{{/foreach}}
{{/if}}